<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center text-light mt-5">
            <h1>Welcome {{getLogin()}}</h1>
            <button (click)="signOut()" class="btn btn-danger">Logout</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center text-light mt-5">
            <div class="col-sm-6 offset-sm-3">
                <input type="text" class="form-control mb-5" placeholder="Search by Trainer Name..." [(ngModel)]="searchValue">
            </div>
            <table class="table table-responsive text-light">
                <thead>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Trainer Name</th>
                    <th>Term Course</th>
                    <th>Enroll</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of courseList | filter:searchValue ;index as id">
                        <th scope="row">{{id+1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.trainerName}}</td>
                        <td>
                            <select class="form-select" aria-label="Choose term of Course">
                                <option *ngFor="let term of item.termList" [value]="term">
                                    {{term}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <button class="btn btn-dark btn-responsive" (click)="enroll(item)">Enroll</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>